<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
  </head>
  <body>
      <header>
        <h1>Еженедельный отчет</h1>
      </header>
      <nav>
          <ul>
            <li><%= link_to "Home", '#' %></li>
            <li><%= link_to "Help", '#' %></li>
          </ul>
      </nav>
      <section class="container">
        <%= yield %>
      </section>
    <footer>
      <h6>Днепрпетровск</h6>
      <h6>2012г.</h6> 
    </footer>
  </body>
</html>